h1 {
  font-size: 2.5rem;
  padding-top: 1.5rem;
  text-align: center;
}
h1 span {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background: black;
  height: 6rem;
  color: white;
}
header a {
  color: white;
}

.main {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.header-links {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  font-size: 1.5rem;
}

.header-right {
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
  padding-right: 5rem;
}
.header-right .dropdown-sub {
  margin-left: 25rem;
  margin-right: 20rem;
}

.catalogue {
  display: block;
  z-index: 9999;
}

.catalogue:hover .dropdown-header, .catalogue:focus .dropdown-header {
  display: flex;
  flex-direction: column;
  color: white;
  height: 11.5rem;
  background-color: grey;
  margin-top: 2.5rem;
  padding-left: 5rem;
}

.dropdown-header {
  width: 45%;
  margin-left: 17rem;
  display: none;
  font-size: 1.4rem;
}
.dropdown-header a {
  margin-bottom: 1.5rem;
}
.dropdown-header a .link-all-products {
  padding-top: 1rem;
}

.header-left {
  padding-left: 5rem;
}
.header-left .logo {
  margin-right: 5rem;
}
.header-left .home-link-header {
  margin-right: 15rem;
}

footer {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
footer a {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.footer {
  width: 70%;
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.brand-logo {
  height: 50px;
  width: 50px;
}

.img-vehicule {
  height: 300px;
  width: 480px;
  margin-top: 1rem;
}

.card {
  border-top: 3px solid grey;
  border-right: 3px solid grey;
  width: 500px;
  border-radius: 0 10px 0 0;
  margin-left: 5%;
}
.card p {
  font-size: 1.2rem;
}
.card h2 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 0.5rem;
}
.card h3 {
  font-size: 1.5rem;
}

.brand-card, .top-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.btm-card, .brand-card {
  border-top: 1px solid black;
  margin-right: 1rem;
}

.btm-card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-product {
  background-color: #F8F8F8;
}

.card-content {
  position: relative;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.calendar-content {
  position: absolute;
  margin-top: -40rem !important;
  margin-left: 47rem !important;
}
.calendar-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.calendar {
  width: 520px !important;
}

.vanilla-calendar-week {
  background-color: grey !important;
}

.a-btn {
  margin-left: 57rem;
  margin-top: -13rem;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  transition: background-color padding;
  transition-duration: 0.5s;
  -webkit-box-shadow: 0px 0px 12px -3px #000000;
  box-shadow: 0px 0px 12px -3px #000000;
  position: absolute;
}

.a-btn:hover {
  background-color: grey;
  padding: 1.2rem 2.2rem;
  font-size: 1.2rem;
  margin-left: 56rem;
}

.catalogue-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.catalogue-grid .card-content {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.catalogue-grid .card {
  color: black;
}
.catalogue-grid .a-catalogue:hover .card {
  border-top: 3px solid blue;
  border-right: 3px solid blue;
  padding-top: 1.5rem;
  margin-top: -1rem;
}

/*# sourceMappingURL=index.css.map */
