<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="header">
    <div class="header">
        <div class="header-links">
            <div class="header-left">
                <a class="logo">Logo</a>
                <a class="home-link-header">Accueil</a>
            </div>
            <div class="header-right">
                <div class="catalogue">
                    <div class="dropdown-sub">
                        <a th:href="@{/catalogue}">Catalogue</a>
                    </div>
                    <div class="dropdown-header">
                        <a>> Nos voitures</a>
                        <a>> Nos utilitaires</a>
                        <a class="link-moto">> Nos 2 roues</a>
                    </div>
                </div>
                <a>Mon compte</a>
            </div>
        </div>
    </div>
</header>

</body>
</html>