<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Travelzer - Home</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" href="/css/reset.css" media="all">
    <link rel="stylesheet" th:href="@{/css/index.css}" href="/css/index.css" media="all">
</head>
<body>

<div class="bo main-add">
    <div class="main-bo bo-add">
        <form th:action="@{/backoffice/dashboard/addModel}"
              th:object="${model}" method="POST">

            <div class="div-input">
                <p>Name :</p>
                <input type="text" th:field="*{name}"/><br/>
            </div>

            <div class="div-input">
                <p>seat capacity :</p>
                <input type="text" th:field="*{seatcapacity}"/><br/>
            </div>

            <div class="div-input">
                <p>consumption :</p>
                <input type="text" th:field="*{consumption}"/><br/>
            </div>

            <div class="div-input">
                <p>cc :</p>
                <input type="text" th:field="*{cc}"/><br/>
            </div>

            <div class="div-input">
                <p>volume :</p>
                <input type="text" th:field="*{volume}"/><br/>
            </div>

            <div class="div-input">
                <p>price km :</p>
                <input type="text" th:field="*{priceperkm}"/><br/>
            </div>

            <div class="div-input">
                <p>horses :</p>
                <input type="text" th:field="*{horses}"/><br/>
            </div>

            <div class="div-input">
                <p>brand :</p>
                <select th:field="${model.brand_id.id}">
                    <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}"></option>
                </select><br/>
            </div>

            <input class="btn-create" type="submit" value="Create"/>
        </form>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/custom.js}"></script>
</body>
</html>