<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Travelzer - Home</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" href="/css/reset.css" media="all">
    <link rel="stylesheet" th:href="@{/css/index.css}" href="/css/index.css" media="all">
</head>
<body>

<div class="bo main-add">
    <div class="main-bo bo-add">
        <form th:action="@{/backoffice/dashboard/addCategory}"
              th:object="${category}" method="POST">

            <div class="div-input">
                <p>Name :</p>
                <input type="text" th:field="*{name}"/><br/>
            </div>

            <div class="div-input">
                <p>Base Price :</p>
                <input type="number" th:field="*{baseprice}"/><br/>
            </div>

            <input class="btn-create" type="submit" value="Create"/>
        </form>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/custom.js}"></script>
</body>
</html>