<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Travelzer - Home</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" href="/css/reset.css" media="all">
    <link rel="stylesheet" th:href="@{/css/index.css}" href="/css/index.css" media="all">
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div class="body">
    <div class="main main-product main-catalogue">
        <h1>Notre catalogue de véhicules</h1>
        <div class="catalogue-grid">
            <div th:each="vehicule : ${vehiculeList}" class="card-content">
                <a class="a-catalogue" th:href="@{/vehicule} + '/' + ${vehicule.id}">
                    <div class="card">
                        <div class="top-card">
                            <p th:utext="${vehicule.id}"></p>
                            <p th:utext="${vehicule.matriculation}"></p>
                        </div>
                        <div class="brand-card">
                            <h3 th:utext="${vehicule.model.brand_id.name}"></h3>
                            <img th:src="@{/images/} + ${vehicule.model.brand_id.imglogo}" class="brand-logo">
                        </div>
                        <div class="btm-card">
                            <h2 th:utext="${vehicule.model.name}"></h2>
                            <img th:src="@{/images/} + ${vehicule.image}" class="img-vehicule">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>

</body>
</html>