<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Travelzer - Home</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" href="/css/index.css" media="all">
</head>
<body>

<label for="type-select">Choose a type:</label>

<select name="type" id="type-select">
    <option value="" selected disabled>--Please choose an option--</option>
    <option value="7">Moto</option>
    <option value="6">voiture</option>
    <option value="8">Utilitaire</option>
</select>

<table>
    <tr>
        <th>ID :</th>
        <th>Nom :</th>
        <th>Couleur :</th>
        <th>Nb de km :</th>
        <th>Image :</th>
        <th>Immatriculation :</th>
        <th>Tarif :</th>
        <th>Catégorie :</th>
    </tr>

    <tr th:each ="vehicule : ${vehiculeList}">
        <td th:utext="${vehicule.id}"></td>
        <td th:utext="${vehicule.model.name}"></td>
        <td th:utext="${vehicule.color}"></td>
        <td th:utext="${vehicule.kmcounter}"></td>
        <td><img th:src="${vehicule.image}"></td>
        <td th:utext="${vehicule.matriculation}"></td>
        <td th:utext="${vehicule.pricerate}"></td>
        <td th:utext="${vehicule.category.name}"></td>
    </tr>
</table>

<script type="text/javascript" th:src="@{/js/custom.js}"></script>
</body>
</html>