<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="${vehicule.model.name} + ' ' + ${vehicule.matriculation}"></title>
</head>
<body>

<div class="card">
    <div class="top-card">
        <p th:utext="${vehicule.id}"> </p>
        <p th:utext="${vehicule.matriculation}"> </p>
    </div>
    <div class="brand-card">
        <p th:utext="${vehicule.model.brand_id.name}"> </p>
        <img th:src="@{/images/} + ${vehicule.model.brand_id.imglogo}">
    </div>
    <div class="brand-card">
        <p th:utext="${vehicule.model.name}"> </p>
        <img th:src="@{/images/} + ${vehicule.image}">
    </div>
</div>

</body>
</html>