<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="${vehicule.model.name} + ' ' + ${vehicule.matriculation}"></title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" href="/css/reset.css" media="all">
    <link rel="stylesheet" th:href="@{/css/index.css}" href="/css/index.css" media="all">
    <link rel="stylesheet" th:href="@{/modules/vanilla-calendar-master/src/css/vanilla-calendar-min.css}">
    <script th:src="@{/modules/vanilla-calendar-master/src/js/vanilla-calendar-min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body onload="compareDate()">

<div th:insert="fragments/header :: header"></div>

<div class="main main-product">
    <h1>Réservez dès maintenant votre <span th:utext="${vehicule.category.name}"></span></h1>
    <div class="card-content">
        <div class="card">
            <div class="top-card">
                <p th:utext="${vehicule.id}"></p>
                <p th:utext="${vehicule.matriculation}"></p>
            </div>
            <div class="brand-card">
                <h3 th:utext="${vehicule.model.brand_id.name}"></h3>
                <img th:src="@{/images/} + ${vehicule.model.brand_id.imglogo}" class="brand-logo">
            </div>
            <div class="btm-card">
                <h2 th:utext="${vehicule.model.name}"></h2>
                <img th:src="@{/images/} + ${vehicule.image}" class="img-vehicule">
            </div>
        </div>
    </div>

    <div class="calendar-content">
        <p>Vérifier la disponibilité du véhicule :</p>
        <div id="myCalendar" class="vanilla-calendar calendar"></div>
    </div>

    <a class="a-btn" th:href="@{/vehicule} + '/' + ${vehicule.id} + @{/reserve}">reserve</a>
</div>

<div th:insert="fragments/footer :: footer"></div>

<script th:inline="javascript">
function setDate(data,elem){
<!--    debugger;-->
}
    var myCalendar = new VanillaCalendar({
    selector: "#myCalendar",
    pastDates: false,
    onSelect: (data, elem) => {
    setDate(data,elem)
    }
    })

    var reservations =[[${reservations}]];

    function getReservations(){
    reservations.forEach(element => console.log(element.id))
    }


    function compareDate(data, elem){
        for(let reservation of reservations){
<!--        debugger;-->
            let date = new Date(reservation.datestart)
<!--             debugger;-->
             let div = $('div[data-calendar-date="'+date+'"]');
<!--             debugger;-->
             $(div).forEach(function(){ $(this).attr('vanilla-calendar-date--active', 'vanilla-calendar-date--disabled')});
        }
    }

</script>


</body>
</html>